@media(max-width:426px) {
    body {
        overflow-x: hidden;
    }
    .handel {
        display: none;
    }
    .oll {
        display: none;
    }
    ul {
        display: block;
    }
    .nav {
        left: -300%;
        position: relative;
    }
    .cont::before {
        width: 0px;
    }
    .cont::after {
        display: none;
    }
    .logo {
        left: 0px;
    }
    nav::before {
        width: 30%;
    }
    .cont {
        border: none;
        top: 0;
        width: 100%;
        margin-left: 0;
    }
    h5 {
        left: 53px;
        font-size: 25px;
        width: 65%;
    }
    h1 {
        margin-left: 0px;
        position: relative;
        right: 0px;
        left: 40px;
        font-size: 37px;
        width: 80%;
    }
    .h {
        font-size: 38px;
        margin-left: 0px;
        position: relative;
        right: 0px;
        left: 40px;
    }
    .p1 {
        width: 85%;
        line-height: 30px;
        margin-left: 0;
        right: 0px;
        left: 40px;
    }
    .sat {
        width: 50%;
        margin-left: 0;
        position: relative;
        right: 0px;
        left: 40px;
    }
    .server {
        display: block;
        margin-left: 0;
    }
    .second {
        height: 280vh;
    }
    .abm1 {
        width: 330px;
        height: 400px;
        position: relative;
        top: 70px;
        left: 40px;
    }
    .about {
        height: 190vh;
    }
    .h61 {
        right: 0;
    }
    #pa {
        position: relative;
        bottom: 0px;
        top: 360px;
        right: 150px;
        font-size: 29px;
        width: 300px;
    }
    .pa2 {
        position: relative;
        right: 155px;
        bottom: 0px;
        top: 350px;
        width: 300px;
        font-size: 18px;
    }
    .abp2 {
        position: relative;
        bottom: 120px;
        left: 80px;
    }
    .btn-about {
        width: 70%;
        height: 60px;
        position: relative;
        top: 320px;
        right: 160px;
    }
    .abp3 {
        position: relative;
        top: 200px;
        left: 190px;
    }
    .web {
        font-size: 30px;
        width: 270px;
        position: relative;
        top: 290px;
        right: 340px;
    }
    .work {
        height: 350vh;
    }
    .wor {
        display: block;
        margin-left: 0;
    }
    h2 {
        left: 20px;
        width: 380px;
        font-size: 23px;
    }
    .pro {
        width: 100%;
    }
    .f1 {
        margin-left: 0px;
        width: 368px
    }
    .from {
        height: 107vh;
    }
    .f2 {
        margin-left: 0px;
        margin-top: 0px;
    }
    .f3 {
        font-size: 30px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    #name {
        width: 30%;
        position: relative;
        left: 10px;
    }
    #last {
        width: 30%;
        position: relative;
        left: 40px;
    }
    #sub {
        left: 20px;
        width: 30%;
    }
    #phone {
        left: 40px;
        width: 30%;
    }
    #em {
        left: 6px;
    }
    #wr {
        left: 14px;
    }
    #bt {
        width: 40%;
    }
    .im1 {
        width: 350px;
    }
    .s1 {
        width: 350px;
        margin-bottom: 20px;
        margin-left: 13px;
    }
    .pj {
        display: block;
        margin-left: 0px;
    }
    .pj1 {
        margin-top: 0;
    }
    section {
        height: 270vh;
    }
    footer {
        height: 200vh;
    }
    .foo {
        display: block;
    }
    .fa1 {
        margin-top: 0px;
        border: 2px;
        border: 2px solid
    }
    .nm1 {
        width: 100px;
        display: none;
    }
    .abp2 {
        position: relative;
        bottom: 120px;
        left: 80px;
    }
    .fa1 p {
        width: 200px;
    }
    .fa1 h1 {
        margin-left: 0;
        width: 300px;
        left: 130px;
    }
    .step {
        width: 36%;
    }
}